@* raw.scala.html
* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
* Copyright © 2024 Kris Coolsaet (Universiteit Gent)
*
* This software is distributed under the MIT License - see files LICENSE and AUTHORS
* in the top level project directory.
*@
@import views.html.layout.raw

@()

@raw("todo") {
    <div class="container-sm">
        <div class="card">
            <div class="card-header bg-warning">Not yet implemented</div>
            <div class="card-body">
                <p>The application is still under development.</p>
                <p>Unfortunately, you reached
                a part that is not yet implemented.</p>
            </div>
        </div>
    </div>
}
