@* todo.scala.html
* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
* Copyright © 2024 Kris Coolsaet (Universiteit Gent)
*
* This software is distributed under the MIT License - see files LICENSE and AUTHORS
* in the top level project directory.
*@
@import deputies.Deputy
@()(implicit deputy: Deputy)

@layout.small("todo", "Not yet implemented") {
    <p class="text-warning">The application is still under development.</p>
    <p class="text-warning">Unfortunately, you reached
        a part that is not yet implemented.</p>
}
