@* not_registered.scala.html
* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
* Copyright © 2024 Kris Coolsaet (Universiteit Gent)
*
* This software is distributed under the MIT License - see files LICENSE and AUTHORS
* in the top level project directory.
*@
@()(implicit deputy: deputies.Deputy)

@layout.small("not_registered", "Not registered?") {
    <p>Please contact your <i>country representative</i> and provide them
        with the email address you want to use to access the system.
        They will have the system send you a link for completing the registration.</p>
    <p class="demo">During the demo phase, contact the web application author
}
