@* registration.scala.html
* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
* Copyright © 2024 Kris Coolsaet (Universiteit Gent)
*
* This software is distributed under the MIT License - see files LICENSE and AUTHORS
* in the top level project directory.
*@


@import deputies.RegistrationDeputy

@(f: Form[RegistrationDeputy.RegistrationData])(implicit deputy: RegistrationDeputy)

@layout.plain("registration") {
    <h3>Registrations (country: @deputy.getCountry)</h3>

    @defining(deputy.listUsersCurrentCountry()) { list =>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(list) { user =>
                    <tr>
                        <td>@user.name @if(user.temporary)("*")</td>
                        <td>@user.email</td>
                        <td>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @if(list.asScala.exists(_.temporary)) {
            <p class="form-text">* = temporary registration</p>
        }
    }

    <h4>Register new user</h4>
    @helper.form(action = routes.RegistrationController.register()) {
        @b5.text(f("email"), "_label" -> "Email address of person to be registered",
            "required" -> "true")
        @b5.checkbox(f("temporary"), "This is a temporary registration", "_label" -> "",
            "_help" -> "Temporary registrations are deleted after each event and are meant for individuals outside the Bebras community, such as accompanying guests.")
        <button type="submit" class="btn btn-primary mt-2">Initiate registration</button>
    }
    <p class="mt-2">This sends an email containing a link for the recipient to complete their registration.</p>
}