@* sign_in.scala.html
* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
* Copyright © 2023-2024 Kris Coolsaet (Universiteit Gent)
*
* This software is distributed under the MIT License - see files LICENSE and AUTHORS
* in the top level project directory.
*@
@(f: Form[AuthenticationDeputy.EmailData])(implicit deputy: Deputy)

@layout.small("sign_in", "Bebras international workshop information system") {
    @helper.form(routes.AuthenticationController.signIn()) {
        <div class="row">
            @b5.email(f("email"), "placeholder" -> "Registered email address", "_class" -> "col", "_label" -> "")
            <div class="col-auto"><button type="submit" class="btn btn-primary">Sign in</button></div>
        </div>
    }
    <div class="row">
        <p class="form-text">
            You will receive an email with a (temporary) link granting you access to the system. (Registered users only.)</p>
    </div>
    <div class="row">
        <a href="@routes.AuthenticationController.notRegistered()">Not registered?</a>
    </div>
}
