@* change_name.scala.html
* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
* Copyright © 2024 Kris Coolsaet (Universiteit Gent)
*
* This software is distributed under the MIT License - see files LICENSE and AUTHORS
* in the top level project directory.
*@
@()(implicit deputy: ProfileDeputy)

@layout.plain("change_email") {
    <h5>Change your email address</h5>
    <p>For enhanced security, changing your email address involves a two-step process: a link will be sent to your current email address, which you can use to register a new one.</p>
    <a href="@routes.AuthenticationController.sendEmailLink()" class="btn btn-primary">Send link</a>
}