@* change_name.scala.html
* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
* Copyright © 2024 Kris Coolsaet (Universiteit Gent)
*
* This software is distributed under the MIT License - see files LICENSE and AUTHORS
* in the top level project directory.
*@
@()(implicit deputy: ProfileDeputy)

@layout.plain("change_email") {
    <h5>Change your email address</h5>
        <p>Your email address is used to identify you with the system. If you change your email address
        then you will need to use the new address for signing in to the system.</p>
    <p class="text-warning">
        This feature is not yet implemented. Changing your email address will send a mail to the original
        email address for verification.
    </p>
}