@(deputy: deputies.Deputy)

@* TODO *@

<li class="nav-item dropdown">
    <button class="btn nav-link dropdown-toggle pe-0" type="button" id="profileMenu"
    data-bs-toggle="dropdown">@deputy.getRequest.session.get("name")
    </button>
    <ul class="dropdown-menu" aria-labelledby="profileMenu">
        <li><a class="dropdown-item" href="@routes.ProfileController.showChangeName()">Correct name</a></li>
        <li><a class="dropdown-item" href="@routes.ProfileController.showChangeEmail()">Change email</a></li>
        <li><a class="dropdown-item" href="@routes.AuthenticationController.logout()">Log out</a></li>
    </ul>
</li>
