@* raw.scala.html
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Copyright © 2024 Kris Coolsaet (Universiteit Gent)
 *
 * This software is distributed under the MIT License - see files LICENSE and AUTHORS
 * in the top level project directory.
 *@

@import views.html.ext._

@(pageId: String, css: Html = Html(""), js: Html = Html(""))(content: => Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Justin [@pageId]</title>
        @include.css(
            "/lib/font-awesome/css/fontawesome.min.css",
            "/lib/font-awesome/css/solid.css",
            "/lib/webjar/css/justin-bootstrap.min.css",
            "/lib/webjar/css/fonts.css",
            "justin.css"
        )
        @css
    </head>
    <body>
        @content
        @include.js(
            "/lib/webjar/js/bootstrap.bundle.min.js"
        )
        @js
    </body>
</html>