@* select.scala.html
* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
* Copyright © 2024 Kris Coolsaet (Universiteit Gent)
*
* This software is distributed under the MIT License - see files LICENSE and AUTHORS
* in the top level project directory.
*@

@import _root_.be.ugent.justin.db.dto.SelectElement

@(element: SelectElement)(implicit deputy: FormDeputy)

@b5.select(Forms.field(s"number[${element.getId}]", ""),
    element.getOptions.map(o => (o.id.toString -> o.text)).toSeq,
    "_label" -> "", "_default" -> "")
