@charset "UTF-8";

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,600;1,300;1,600&display=swap');

body {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    color: black;
    height: 100%;
}

strong {
    font-weight: 600;
    color: #333333;
}

.note strong {
    color: purple;
}

h1, h2, h3 {
    color: #00aaaa;
    margin: 10px 0;
    font-weight: 600;
}

h2, h3, h4 {
    border-top: 1px solid grey;
    padding-top: 8px;
}

a {
    color: #00aaaa;
}

code {
    font-size: smaller;
    color: #337777;
}

a[href^="http://"]:before {
    content: "\f08e";
    font: normal normal normal 14px/1 FontAwesome;
    padding-right: 0.1rem;
}

a[href^="https://"]:before {
    content: "\f08e";
    font: normal normal normal 14px/1 FontAwesome;
    padding-right: 0.1rem;
}

@media screen and (min-width: 1025px) {

    div.container {
        margin: 10px auto;
        width: 1024px;
        background-color: white;
        border: 1px solid grey;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        padding: 10px 30px 40px 30px;
        min-height: 90vh;
        position: relative;
    }
}

@media screen and (max-width: 1024px) {

    div.container {

        margin: 0 0;
        min-height: 100vh;
        padding: 10px 30px 40px 30px;
        position: relative;
        background-color: white;

    }
}

div.container p {
    font-size: 1rem;
}

#footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    color: grey;
    height: 20px;
    margin: 5px 30px;
    padding: 5px 20px;
    border-top: 1px solid grey;
    border-radius: 0;
}

.note {
    color: purple;
    font-size: smaller;
}


