@* _country_participations.scala.html
* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
* Copyright © 2023-2024 Kris Coolsaet (Universiteit Gent)
*
* This software is distributed under the MIT License - see files LICENSE and AUTHORS
* in the top level project directory.
*@

@(eventId: Int)(implicit deputy: HomeDeputy)

<h5>Participations (@deputy.getCountry)</h5>

@defining(deputy.getEventUsers(eventId)) { users =>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Participating</th>
            </tr>
        </thead>
        <tbody>

            @if(users.isEmpty) {
                <tr><td colspan="2">No data.</td></tr>
            } else {
                @foreach(users) { user =>
                    <tr>
                        <td>@user.name @if(user.temporary)("*")</td>
                        <td>@if(user.participating)("Yes")else("No")</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    @if(users.asScala.exists(_.temporary)) {
        <p class="form-text">* = temporary registration</p>
    }
}