@* _participation_form.scala.html
* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
* Copyright © 2023-2024 Kris Coolsaet (Universiteit Gent)
*
* This software is distributed under the MIT License - see files LICENSE and AUTHORS
* in the top level project directory.
*@
@import _root_.be.ugent.justin.db.dto.Event

@(f: Form[HomeDeputy.ParticipationData], eventId: Int)(implicit deputy: HomeDeputy)

@helper.form(action=routes.HomeController.changeParticipation(eventId)) {
    <div class="card">
        <div class="card-body">
            @b5.radio_group(
                f("participation"),
                Seq("true" -> "Yes", "false" -> "No"),
                "_label" -> "Do you intend to participate in this event?"
            )
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
}
