@* change_participation.scala.html
* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
* Copyright © 2023-2024 Kris Coolsaet (Universiteit Gent)
*
* This software is distributed under the MIT License - see files LICENSE and AUTHORS
* in the top level project directory.
*@

@import _root_.be.ugent.justin.db.dto.Event

@(event: Event, f: Form[HomeDeputy.ParticipationData])(implicit deputy: HomeDeputy)

@layout.plain("change_participation") {
    @_event_header(event)
    @helper.form(action=routes.HomeController.changeParticipation(event.id)) {
        <div class="card">
            <div class="card-body">
                @b5.radio_group(
                    f("participation"),
                    Seq("true" -> "Yes", "false" -> "No"),
                    "_label" -> "Do you intend to participate in this event?"
                )
                <button type="submit" class="mt-2 btn btn-primary">Submit</button>
            </div>
        </div>
    }
    <div class="demo mt-2">
        <p>This is only a demo of the application. It contains fake
        questionnaires and data stored may be deleted whenever a
        new version is deployed.</p>
        <p>Comments set in this color and style will be removed once
        the application is in production.</p>
    </div>
    @_country_participations(event.id)

}