@* open.scala.html
* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
* Copyright © 2023-2024 Kris Coolsaet (Universiteit Gent)
*
* This software is distributed under the MIT License - see files LICENSE and AUTHORS
* in the top level project directory.
*@
@import _root_.be.ugent.justin.db.dto.{Event, FormLabel}

@import java.time.format.DateTimeFormatter

@(event: Event, forms: List[HomeDeputy.FormInfo])(implicit deputy: HomeDeputy)

@js = {
    <script>
            /* TODO could be moved to a separate file */
            document.addEventListener("DOMContentLoaded", function () {
                const groups = document.querySelectorAll('.justin-group');
                groups.forEach(group => {
                    const checkboxes = group.querySelectorAll('input[type="checkbox"]');
                    const button = group.querySelector('button');
                    checkboxes.forEach(checkbox => {
                        checkbox.addEventListener('input', () => {
                            button.style = "display: inline;";
                        });
                    });
                });

            });
    </script>
}

@layout.plain("open", js = js) {
    @_event_header_long(event)

    @if(event.participation()) {
        <div class="card">
            <div class="card-body justin-group">
                <p>Please check the relevant items.</p>
                @helper.form(action = routes.FormController.changeParticipations(event.id)) {
                    @foreach(forms) { info =>
                        @defining(info.label) { form =>
                            @b5.checkbox(Forms.field(s"participation[${form.id}]", if(form.participation) ("true") else ("")),
                                form.label, "_label" -> "")
                            @if(form.participation) {
                                <div>
                                    <p class="ms-4"><a href="@routes.FormController.landing(form.id)">
                                        Fill out the corresponding form</a> before
                                        <b>@DateTimeFormatter.ofPattern("MMMM dd, yyyy", Locale.ENGLISH).format(form.deadline)</b>.
                                    @if(info.unanswered) {
                                        <span class="text-danger">Some mandatory question(s) still require an answer.</span>
                                    }
                                    </p>
                                </div>
                            }
                        }
                    }
                    <button type="submit" class="mt-2 btn btn-primary" style="display: none;">Submit changes</button>
                }
            </div>
        </div>
    }

}