@* open.scala.html
* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
* Copyright © 2023-2024 Kris Coolsaet (Universiteit Gent)
*
* This software is distributed under the MIT License - see files LICENSE and AUTHORS
* in the top level project directory.
*@
@import _root_.be.ugent.justin.db.dto.{Event, Form => DtoForm}

@import java.time.format.DateTimeFormatter

@(event: Event, forms: List[DtoForm])(implicit deputy: HomeDeputy)

@js = {
    <script>
        /* TODO could be moved to a separate file */
            document.addEventListener("DOMContentLoaded", function () {
                const groups = document.querySelectorAll('.justin-group');
                groups.forEach(group => {
                    const checkbox = group.querySelector('input[type="checkbox"]');
                    const paragraph = group.querySelector('p');
                    paragraph.hidden = !checkbox.checked;
                    checkbox.addEventListener('input', () => {
                        // show/hide paragraph
                        paragraph.hidden = !checkbox.checked;

                        // do ajax call
                        const xhr= new XMLHttpRequest();
                        let url = checkbox.getAttribute('data-url');
                        if (!checkbox.checked) {
                            /* hack: change end of url into false */
                            url = url.substring(0, url.length - 4) + 'false';
                        }
                        xhr.open('POST', url, false);
                        xhr.send();
                    });
                });

            });
    </script>
}

@layout.plain("open", js = js) {
    @_event_header_long(event)

    <div class="card">
        <div class="card-body">
            <p>Please check the relevant items.</p>
            @foreach(forms) { form =>
                <div class="justin-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox"
                               data-url="@routes.FormController.changeParticipation(form.id,set=true)" @if(form.participation)("checked")>
                        <label class="form-check-label">@form.label</label>
                    </div>
                    <div>
                        <p class="ms-4"><a href="@routes.InitialController.todo()">Fill out the corresponding form</a> before
                            <b>@DateTimeFormatter.ofPattern("MMMM dd, yyyy", Locale.ENGLISH).format(form.deadline)</b>.</p>
                    </div>
                </div>
            }
        </div>
    </div>

}